name: Run Heat Lab Experiments

on:
  push:
    branches: [ main ]
  workflow_dispatch:  # allows manual run

jobs:
  run-experiment:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Experiment
        run: python 01_nusseltCorrelation.py
        
      - name: Upload results
        uses: actions/upload-artifact@v4
        with:
          name: experiment-1-results
          path: output_results.csv
          
      - name: Upload plots
        uses: actions/upload-artifact@v4
        with:
          name: experiment-1-plots
          path: "*.png"
